.news-inner{
    background: linear-gradient(160deg, #9d73c2 50%, #D8C6E8 90%);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    padding: 30px;
}

.news-inner-inner{
    position: relative;
    left: 37%;
}

             

